/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: white;
  margin: 40px 0px 70px;
  text-align: center;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}
.body{
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
#tableData {
	
}
#background {
    width: 60%;
    margin-left: 20%;
}
#navigation {
    background-color: #333;
    
}
#worldmap{
    display: block;
}
#table {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
}

li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border-color: transparent;
}

li button:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
input[type=text] {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
#searchSelectorDiv {
	display: inline-block;
	width: 20%;
}
#searchInputDiv {
	display: inline-block;
	width: 65%;
}
select {
	width: 80%;
    padding: 16px 20px;
    border-color: black;
    border-radius: 4px;
    background-color: #f1f1f1;
}
#mapBox {
	height: 500px;
}
#map {
	height:100%;
	width: 100%;
	overflow: visible !important;
}
</style>