<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
	
  <inherits name="com.google.maps.gwt.GoogleMaps" />
<script src="http://maps.google.com/maps/api/js?sensor=false" />
  <!-- Servlets -->
  
  <servlet>
    <servlet-name>fileUploaderServlet</servlet-name>
    <servlet-class>ch.uzh.seproject.server.dataaccesslayer.FileUpload</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>fileUploaderServlet</servlet-name>
  <url-pattern>/seproject/fileupload</url-pattern>
</servlet-mapping>
  
  
  <servlet>
    <servlet-name>dataAccessServlet</servlet-name>
    <servlet-class>ch.uzh.seproject.server.dataaccesslayer.DataAccessServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dataAccessServlet</servlet-name>
    <url-pattern>/seproject/dataAccess</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SeProject.html</welcome-file>
  </welcome-file-list>
  
  <!-- Objectify -->
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 
</web-app>
